
.wrapper {
  padding: 0 1.5rem;
  margin: 0 auto;
  width:100%;
  @media only screen and (min-width: 1024px) {
    padding: 0;
    width: 96rem;
  }
  @media only screen and (min-width: 1280px) {
    padding: 0;
    width: 110rem;
  }
}

@mixin basic-flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin justify-between {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@mixin justify-end {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
@mixin justify-center {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@mixin align-center {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.grid-sidebar {
  display: grid;
  grid-gap: 9%;
  grid-template-columns: 67% 25%;
  @media only screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}
.grid-2-col {
  display: grid;
  grid-gap: 9%;
  grid-template-columns:  46% 46%;
  @media only screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}
.grid-4-col {
  display: grid;
  grid-gap: 4%;
  grid-template-columns: 22% 22% 22% 22%;
  @media only screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}