
/* Colors */

$c-primary: #d0021b;
$c-secondary: #5e000b;

$c-white:#fff;
$c-ligthgrey: #d8d8d8;
$c-grey: #9b9b9b;
$c-dark: #000;

$desktop-hd: 118rem;
$desktop: 102.4rem;
$tablet: 76.8rem;
$mobile: 32rem;